.heroBox {
  padding-top: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
}
.heroLeft {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.header-p {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.line {
  border: none;
  border-top: 1px solid #3730a3;
  margin: 1rem 0;
  width: 6rem;
  display: block;
}
.header-p p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 2rem;

  /* identical to box height, or 140% */

  /* Default/indigo/700 */

  color: #4338ca;
}
.heroLeft h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 4.5rem;
  /* or 100% */

  /* Default/gray/800 */

  color: #1f2937;
}
.content p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
  /* or 156% */

  /* Default/gray/500 */

  color: #6b7280;
  padding-top: 2rem;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 2rem;
}
.button-1 p {
  background: #ffffff;
  /* Default/indigo/800 */
  width: 9rem;
  height: 3rem;
  border: 1px solid #3730a3;
  border-radius: 6px;
}
.button-1 p,
.button-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-1 p,
.button-2 p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 2rem;

  color: #3730a3;
}
a {
  text-decoration: none;
}
.button-2 {
  display: flex;
  align-items: center;
  gap: 2px;
  background: #ffffff;
  /* Default/indigo/800 */
  width: 9rem;
  height: 3rem;
  border: 1px solid #3730a3;
  border-radius: 6px;
}
.button-1 p:hover {
  background: #eeebff;
}
.button-2:hover {
  background: #eeebff;
}
.image-container {
  display: inline-block;
  overflow: hidden;
  padding-left: 5rem;
  padding-top: 5.5rem;
}

.border-animation {
  max-width: 445px;
  max-height: 600px;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: border 0.5s ease-in-out;
  animation: border-pulse 4s infinite; /* 4 saniye boyunca sürekli animasyon */
}

@keyframes border-pulse {
  0% {
    border-color: #3498db;
  }
  100% {
    border-color: #e74c3c;
  }
}
