.profile {
  padding-top: 6rem;
  padding-left: 10rem;
  padding-right: 10rem;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.profile-container {
  border: none;
  border-top: 1px solid #3730a3;
  margin: 1rem 0;
  width: 100%;
  display: block;
}

.profile h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  /* identical to box height, or 100% */

  color: #1f2937;
}

.profile-container-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 11rem;
}

.profile-container-3 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.profile-container-3 h4,
.about h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 28px;
  width: 15rem;
  height: 2rem;
  color: #4338ca;
}

.birth-date {
  display: flex;
}

.content-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 2rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 200%;
  /* or 36px */
  width: 12rem;

  letter-spacing: 0.01em;

  color: #000000;
}

.content-left p {
  margin: 0;
  text-align: left;
}

.content-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  width: 10rem;
  /* or 36px */

  letter-spacing: 0.01em;

  color: #000000;
}
.content-right p {
  margin: 0;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */

  /* Default/gray/500 */

  color: #6b7280;
}
